@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 300;
    src: url('../img/font/SPD_TheSans_TT3_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: italic;
    font-weight: 300;
    src: url('../img/font/SPD_TheSans_TT3i.ttf') format("ttruetypetf");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 500;
    src: url('../img/font/SPD_TheSans_TT5_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: italic;
    font-weight: 500;
    src: url('../img/font/SPD_TheSans_TT5i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 700;
    src: url('../img/font/SPD_TheSans_TT7_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: italic;
    font-weight: 700;
    src: url('../img/font/SPD_TheSans_TT7i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 800;
    src: url('../img/font/SPD_TheSans_TT8_.ttf') format("truetype");
    font-display: swap;
}

/* VERSAL */

@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 300;
    src: url('../img/font/SPD_TheSans_V_TT3_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: italic;
    font-weight: 300;
    src: url('../img/font/SPD_TheSans_V_TT3i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 500;
    src: url('../img/font/SPD_TheSans_V_TT5_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: italic;
    font-weight: 500;
    src: url('../img/font/SPD_TheSans_V_TT5i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 700;
    src: url('../img/font/SPD_TheSans_V_TT7_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: italic;
    font-weight: 700;
    src: url('../img/font/SPD_TheSans_V_TT7i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 800;
    src: url('../img/font/SPD_TheSans_V_TT8_.ttf') format("truetype");
    font-display: swap;
}
:root {
    --spd-red: rgb(227, 0, 15);
    --background-color: rgb(233, 233, 233);

    /* --cover-img: local('imgs\janCover.jpg'); */
}
* {
    margin: 0px;
    padding: 0px;

    /* border: 1px solid black; */
    border-radius: 0px;

    /* font-family: sans-serif, monospace; */
    font-family: 'SPD TheSans', sans-serif;
    font-weight: 800;

    list-style: none;
    transition: ease-in-out 0.4s;
}
/* 
    ´´´´´´´´´´´´´´´´´´´´´´´´´´´
        ALLGEMEINE_FLEX_KLASSEN
        -----------------------
    ```````````````````````````
 */
.flex {
    display: flex;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flexStart {
    justify-content: flex-start;
    align-items: center;
}
.startStart {
    justify-content: flex-start;
    align-items: flex-start;
}
.flexEnd {
    justify-content: flex-end;
    align-items: center;
}
.centerEnd {
    justify-content: center;
    align-items: flex-end;
}
.endEnd {
    justify-content: flex-end;
    align-items: flex-end;
}
.space-between{
    justify-content: space-between;
}
/* 
    ´´´´´´´´´´´´´´´´´´´´´´´´´´´
        ALLGEMEINE_KLASSEN
        -----------------------
    ```````````````````````````
 */
#cover {
    background-position: 0% 50%;
    height: 80vh;
}
#kontakt-cover {
    background-position: 0% 100%;
    max-height: 21vw;
}
.content-part {
    padding: 5% 15%;
}
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.greyBackground {
    background-color: rgb(233, 233, 233);
}
.whiteBackground {
    background-color: rgb(255, 255, 255);
}
.border {
    border: 1px solid red;
}
.invisible-button {
    border: none;
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
}
.invisible-button:hover {
    color: var(--spd-red);
}
.plain-button {
    border: 1px solid lightgray;
    border-radius: 5px;

    padding: 1.5vh 1.5vw;

    color: var(--spd-red) !important;
    font-weight: 600;
    text-decoration: double !important;
}
.plain-button:hover {
    /* color: black !important; */
    border-color: darkgray;
}
.blog-title {
    color: black;

    font-size: 2.8vh;
    line-height: 100%;
}
.link {
    color: darkslategrey;
    text-decoration: underline;
}
.link:hover {
    color: var(--spd-red);
}
#presse-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.twitter-div {
    width: 40%;
}
.download-button {
    color: transparent;
}
.download-button:hover {
    background-color: rgba(211, 211, 211, 0.33);
    color: var(--spd-red);
}
.download-button i {
    font-size: 8vh;
}
.red-header {
    background-color: var(--spd-red);
    color: white;
    padding: 1rem;
}
.fragment {
    padding: 5% 15%;
}
.finerInnerHTML > p, a{
    font-weight: 400;
}
/* 
    ´´´´´´´´´´´´´´´´´´´´´´´´´´´
        NAVBAR
        -----------------------
    ```````````````````````````
 */
.navbarItem {
    color: black;
    list-style: none;

    font-size: 2vh;
    font-weight: 100;
    /* padding-top: 5vh; */
}
.navbarItem:hover {
    color: rgb(227, 0, 15);
    transform: scale(1.1);
    transition: ease-in;
    /* text-shadow: 0px 15px lightgrey; */
}
.burgerItem {
    margin-top: 3vh;
}
.dropdown {
    background-color: white;
}
#burger-menu {
    width: 25px;
    padding: 0;
    margin-right: 10vw;

    display: none;
}
#burger-menu:hover {
    cursor: pointer;

    transform: scale(1.1);
    transition: ease-in;
}
.burger-bar {
    border: 1px solid black;
    margin: 5px 0;
    height: 1px;
    max-height: 1px;
}

#open-burger {
    padding: 3vw 5vw;
}
/* 
    ´´´´´´´´´´´´´´´´´´´´´´´´´´´
        FOOTER
        -----------------------
    ```````````````````````````
 */
 .footer-item {
    color: black;
    background-color: transparent;
    font-weight: 400;

    margin: 1vh 2vh;
 }
.footer-item:hover {
    color: var(--spd-red);
    transform: scale(1.1);
    transition: ease-in;
 }
 /* li {
    border: 1px solid red;
 } */
/* 
    ´´´´´´´´´´´´´´´´´´´´´´´´´´´
        MEDIA QUERIES
        -----------------------
    ```````````````````````````
*/
@media only screen and (min-width: 992px){
    
}
@media only screen and (min-width: 0px) and (max-width: 991px){
    #kontakt-cover {
        width: 150%;
        max-height: 35vh;
        left: 25%;
    }
    #presse-container {
        flex-direction: column;
    }
    .twitter-div {
        width: 100%;
        margin-top: 3vh;
    }
}
@media only screen and (min-width: 0px) and (max-width: 767px){
    #kontakt-cover {
        width: 250%;
        max-height: 35vh;
        left: -25%;
    }
    #navMenu {
        width: 66% !important;
    }
    .tile {
        padding: 5% 2% !important;
    }
    .red-header {
        margin: auto !important;
    }
    #footer-section {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    #cover {
        width: calc(200%);
        left: -20%;
        height: 80vh;
    }
    #kontakt-cover {
        width: 350%;
        max-height: 35vh;
        left: -75%;
    }
    #burger-menu {
        display: block;
    }
    #navMenu {
        display: none;
    }
    #footer-section .footer-item{
        margin: 0vh 1.5vw !important;
    }
}